body{
    padding : 0;
    margin :0;
    font-family: Helvetica;
}
/*====  Styling the header  ====*/
#header{
    position : fixed;
    top: 0px;
    left: 0px;
    z-index: 500; /*ensures header is above everyhting*/
    width: 100%;
    height: 80px;
    background-image: url("images/wood-bg.png");
    background-repeat: repeat-x;
}

#header img{
    display: block;
    margin: auto;  /*centralizes the image automatically*/
    height: 70%;

}

/*====  Styling the top tabs  ====*/

#tabs-top {

    position: fixed;
    top: 80px; /*positioned  80 pixels below the header, the header is sized at 80 px*/
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: darkgreen;

}

#tabs-top a{
    float: left;
    display: block;
    width:33%;
    height: 35px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 12px;
    
}